<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nomad.main.mapper.DestinationMapper">

    <resultMap id="BaseResultMap" type="com.nomad.main.entity.Destination">
            <id column="id" property="id" />
            <result column="name" property="name"/>
            <result column="province" property="province"/>
            <result column="temperature_min" property="temperatureMin"/>
            <result column="temperature_max" property="temperatureMax"/>
            <result column="costliving_min" property="costlivingMin"/>
            <result column="costliving_max" property="costlivingMax"/>
            <result column="description" property="description"/>
            <result column="cover" property="cover"/>
            <result column="created_at" property="createdAt"/>
            <result column="created_by" property="createdBy"/>
            <result column="updated_at" property="updatedAt"/>
            <result column="updated_by" property="updatedBy"/>
            <result column="del_flag" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `name`, `province`, `temperature_min`, `temperature_max`, `costliving_min`, `costliving_max`, `description`, `cover`, `created_at`, `created_by`, `updated_at`, `updated_by`, `del_flag`
    </sql>
    
</mapper>