<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nomad.main.mapper.FanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nomad.main.entity.Fan">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="fan_id" property="fanId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, fan_id
    </sql>
    
    <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from fan where user_id = #{userId} and fan_id = #{loginUserId}
    </select>

    <select id="countFollow" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) from fan where fan_id = #{userId}
    </select>

    <select id="countFan" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) from fan where user_id = #{userId}
    </select>

</mapper>
